<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
</head>
<style>
  .Layout {
    width: 500px;
    margin: 40px auto 0;
  }
  td {
    text-align: center;
  }
</style>
<body>
  <div class="Layout">
    <table>
      <thead>
      <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>닉네임</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${list}">
        <td th:text="${board.id}">1</td>
        <!-- href 하이퍼링크 > ~~/board/view?id=(받아온 id값)  -->
        <td>
          <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목
        </td>
        <td th:text="${board.content}">내용</td>
        <td th:text="${board.nickname}">닉네임</td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>